<header
  x-data="{menuToggle: false}"
  class="
    sticky top-0 z-99999 flex w-full border-gray-200 bg-white lg:border-b
    dark:border-gray-800 dark:bg-gray-900
  "
>
  <div
    class="flex grow flex-col items-center justify-between lg:flex-row lg:px-6"
  >
    <div
      class="
        flex w-full items-center justify-between gap-2 border-b border-gray-200 px-3
        py-3 sm:gap-4 lg:justify-normal lg:border-b-0 lg:px-0 lg:py-4
        dark:border-gray-800
      "
    >
      <!-- Application nav menu button -->
      <div class="hidden lg:block">
      </div>
    </div>

    <div
      :class="menuToggle ? 'flex' : 'hidden'"
      class="
        shadow-theme-md w-full items-center justify-between gap-4 px-5 py-4 lg:flex
        lg:justify-end lg:px-0 lg:shadow-none
      "
    >
      <!-- User Area -->
      <div
        class="relative"
        x-data="{ dropdownOpen: false }"
        @click.outside="dropdownOpen = false"
      >
      </div>
      <!-- User Area -->
    </div>
  </div>
</header>
